.counterView{
    height: 100vh;
    width: 100%;
    background: #050e36;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding: 5%;
    h1{
        text-align: center;
        color: white;
        font-weight: bolder;
        font-size: 5em;
        small{
            font-size: 14px;
            display: block;
            font-weight: lighter;
        }
    }
}