name: Builds Linter

on:
  pull_request:
  push:
    branches: 
      - main
     

jobs:
  test:
    name: Running Builds
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install
      run: npm install --force
    - name: Build
      run: npm run build
